
.intro{
    max-width: 500px;
    padding: 1rem 0 1rem 0;
}
.intro-heading{
    font-size: 3rem;
}


    .card{
        background-color: var(--card-light);
        border-radius: 6px;
        text-align: center;
        color: #fff;
        padding: 36px 16px 36px 16px ;
font-weight: bold;
       
    }
   

