.chatbot-message, .user-message{
    display: flex;
    margin-top: 1rem;
}

.user-message{
    margin-left: auto;
}

.chatbot-pfp,
.user-pfp{
    border: 2px solid #000;
    border-radius: 50px;
    padding: 3px;
}

.chatbot-message .message-bubble{
    margin-left: .4em;
    background: var(--card-light);
    width: fit-content;
    max-width: 250px;
    padding: .5em 2em;
    border-radius: 14px;
}

.user-message .message-bubble{
    margin-right: .4em;
    background: var(--card-light);
    width: fit-content;
    max-width: 250px;
    padding: .5em 2em;
    border-radius: 14px;
}